*{
margin: 0%;
padding: 0%;

}

.background    { 
background-color:blueviolet;
background-position: center;
background-size: contain; 
width: 100%;
height: 120px;
table-layout: fixed;
border-spacing: 0;  

}
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background: black; }

.game {

overflow: hidden;
max-width: 100%;
max-height: 100%;
position: relative;
text-align: center;

}

.lost .player {
background: rgb(160, 64, 64);
}
.won .player {
box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
/*.menu{
background-color: blue;
margin-bottom: 15px;
width: 100%;
height:100%;
position:absolute;
z-index: 3;
}*/
.menu:hover{
display:none
}
/*BOTONES*/
.gamebutton {
/*border: none;
background:none;
color: white;*/

padding:10px 20px;
outline: none;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
font-family:ＭＳ Ｐゴシック;
font-weight: bold;
z-index: 23;
position: absolute;
}
#reset{
padding: 0; 
float: right;
background-repeat: no-repeat;
background: url(repeat.png);
width: 50px;
height:50px;
overflow:hidden;
display:block;
border: none; 
background-repeat:no-repeat;
margin-left: auto;
margin-right: auto; 
display:inline-block;
right:200px;
bottom:240px;
 animation: rotation 0.5s  ;
}
#reset:hover{
 
overflow:hidden;
display:block;
padding: 0; 
border: none; 
outline:none;
}

#pause{
float:right;
right:70px;
bottom:250px
}
.mod{
position: absolute;
z-index: 12;
}
#lives{
top: 50px;
left:100px
}
#level{
top: 50px;
left:200px
}
